@model Bleff.ViewModels.GameVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="col-xs-10">
        <p class="lead">BLEFF - Sala @Model.ActualGame.Id</p>
    </div>
</div>

<div>
    <div class="col-xs-4">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col" class="col-xs-2 text-center">Puntaje</th>
                    <th scope="col" class="col-xs-1 text-center"></th>
                    <th scope="col" class="col-xs-8 text-center">Jugadores</th>
                    <th scope="col" class="col-xs-1 text-center"></th>
                </tr>
            </thead>
            <tbody id="playersTable">
                @foreach (var player in Model.ActualGame.Players)
                {
                    <tr data-playerid="@player.PlayerID">
                        <td class="col-xs-2 text-center">0</td>
                        <td class="col-xs-1 text-center">
                            @if (player.PlayerID == Model.ActualPlayer.PlayerID)
                            {
                                <span class="glyphicon glyphicon-star-empty pull-left col-xs-1"></span>
                            }
                        </td>
                        <td class="col-xs-8 text-center">
                            <span style="overflow: hidden">@player.Name</span>
                        </td>
                        <td class="col-xs-1 text-center">
                            @if (player.PlayerID == Model.ActualGame.ActualCoordinator.PlayerID)
                            {
                                <span id="pencil" class="glyphicon glyphicon-pencil pull-right"></span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-xs-1"></div>

    <div class="col-xs-7" id="gameBoard">
        @if (Model.ActualPlayer.PlayerID == Model.ActualGame.ActualCoordinator.PlayerID)
        {
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="text-center">Elegí una palabra</h3>
                </div>
                <div class="col-xs-2">
                    <h3 id="choseWordTimer" class="pull-right"></h3>
                </div>
            </div>
            <div class="row">
                <div id="choseWordSection" class="col-xs-10 chose-word-section">
                    <div id="chosenWord" class="chosen-word row text-center"></div>
                    <div class="definition-section pull-left col-xs-12 row">
                        <b>Definición: </b>
                        <span id="definition"></span>
                    </div>
                </div>
                <div id="divRerollWord" class="col-xs-2">
                    <button type="button" id="btnRerollWord" class="btn btn-primary">Buscar otra</button>
                </div>
            </div>
            <div class="row" id="divStartRound">
                <button type="button" id="btnStartRound" class="btn btn-primary">Empezar ronda con esta palabra</button>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="text-center"><b>@Model.ActualGame.ActualCoordinator.Name</b> está eligiendo una palabra</h3>
                </div>
                <div class="col-xs-2">
                    <h3 id="choseWordTimer" class="pull-right"></h3>
                </div>
            </div>
        }
    </div>

</div>

<div id="aux" class="hidden"></div>


@section Scripts{
    <script type="text/javascript">
        var pencil = '<span id="pencil" class="glyphicon glyphicon-pencil pull-right"></span>';
        var isCoordinator = @((Model.ActualPlayer.PlayerID == Model.ActualGame.ActualCoordinator.PlayerID).ToString().ToLower());

        function choseRandomWord() {
            $.ajax({
                type: "GET",
                url: "/game/GetRandomWord",
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    $("#aux").append(data.substring(0, data.length - 200).slice(990))
                    var palabra = $("#aux h1").text();
                    $("#chosenWord").text(palabra);
                    var definition = $("#definiciones>button:first").text();
                    definition = definition.replace("[", "").replace("]", "");
                    $("#definition").text(definition);
                    $("#aux").empty();
                }
            });
        }

        $(document).ready(function () {
            var lobby = $.connection.gameHub;
            $.connection.hub.start().done(function () {
                lobby.server.loadLobbyData('@Model.ActualGame.Id', '@Model.ActualPlayer.PlayerID');
            });

            choseRandomWord();
            setTimer(45, "#choseWordTimer", isCoordinator ? selectWordAndStartRound : null);

            lobby.client.startRound = function (word) {
                if (!word) return;
                $("#gameBoard").empty();

                if (isCoordinator) {
                    waitForDefinitions(word);
                } else {
                    LoadDefinition(word);
                }
            }

            function waitForDefinitions(word) {
                var html = '<div class="row">\
                                <div class="col-xs-10">\
                                    <h3 class="text-center"><b><i>%data-word%</i></b></h3>\
                                </div >\
                            </div >\
                            <div class="row" >\
                                <div class="col-xs-10">\
                                <h3 class="text-center">Los jugadores están creando sus definiciones...</h3>\
                            </div >\
                                <div class="col-xs-2">\
                                <h3 id="createDefsTimer" class="pull-right"></h3>\
                                </div>\
                            </div>';

                $("#gameBoard").append(html.replace("%data-word%", word));

                setTimer(60, "#createDefsTimer", null);
            }

            function LoadDefinition(word) {
                var html = '<div class="row">\
                                <div class="col-xs-10">\
                                    <h3 class="text-center"><b><i>%data-word%</i></b></h3>\
                                </div >\
                            </div >\
                            <div class="row" >\
                                <div class="col-xs-10">\
                                <h3 class="text-center">Creá tu definición</h3>\
                            </div >\
                                <div class="col-xs-2">\
                                <h3 id="createDefsTimer" class="pull-right"></h3>\
                                </div>\
                            </div>\
                            <div class="definition-section col-xs-12 row">\
                                <label for="createdDef">Definición:</label>\
                                <textarea class="form-control" rows="3" id="createdDef" style="max-width: none; resize:vertical;"></textarea>\
                            </div>';

                $("#gameBoard").append(html.replace("%data-word%", word));

                setTimer(60, "#createDefsTimer", loadDefinition);
            }

            function loadDefinition() {

            }

            $("#btnRerollWord").click(function () {
                choseRandomWord();
            });

            function setTimer(time, selector, onTimeEnd) {
                $(selector).text(time);

                var timer = setInterval(function () {
                    var newTime = $(selector).text() - 1;

                    if (newTime < 0) {
                        clearInterval(timer);
                        if (onTimeEnd)
                            onTimeEnd();
                    } else {
                        $(selector).text(newTime);
                    }
                }, 1000);
            }

            $("#btnStartRound").click(function () {
                selectWordAndStartRound();
            });

            function selectWordAndStartRound() {
                var word = $("#chosenWord").text();
                var definition = $("#definition").text();
                lobby.server.startRound(word, definition);
            }
        });

    </script>

    <style type="text/css">
        .glyphicon.glyphicon-pencil {
            color: red;
        }

        .chose-word-section {
            padding-top: 30px;
        }

        .chosen-word {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
        }

        .definition-section {
            padding: 13px;
            margin-top: 15px;
            border: 1px solid #ccc;
            border-radius: 16px;
        }

        #divRerollWord {
            padding-top: 78px;
        }

        #divStartRound {
            margin-top: 20px;
        }
    </style>
}
