@model Bleff.ViewModels.GameVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var btnDisabled = Model.ActualPlayer.IsGameLider ? String.Empty : "disabled";
}

<div class="jumbotron">
    <div class="col-xs-10">
        <p class="lead">BLEFF</p>
    </div>
    <button type="button" id="btnStartGame" class="btn btn-primary @btnDisabled">Empezar Partida</button>
</div>

<div class="col-xs-4">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col" class="col-xs-4 text-center">Jugadores</th>
                <th scope="col" class="col-xs-1 text-center"></th>
            </tr>
        </thead>
        <tbody id="playersTable">
            @foreach (var player in Model.ActualGame.Players)
            {
                <tr data-playerid="@player.PlayerID">
                    <td class="col-xs-4 text-center">
                        @player.Name

                    </td>
                    <td class="col-xs-1 text-center">
                        @if (player.IsGameLider)
                        {
                            <span class="glyphicon glyphicon-star pull-right"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">

        var playersConnected = [];
        @foreach (var player in Model.ActualGame.Players)
        {
            <text>playersConnected.push('@player.PlayerID');</text>
        }

        $(document).ready(function () {
            var lobby = $.connection.lobbyHub;

            $.connection.hub.start().done(function () {
                lobby.server.addPlayer('@Model.ActualPlayer.Name', '@Model.ActualPlayer.PlayerID');
                $("#btnStartGame").addClass('@btnDisabled');
            });

            lobby.client.addPlayer = function (playerID, playerName) {
                if (playerID == '@Model.ActualPlayer.PlayerID') return;
                if (playersConnected.indexOf(playerID) != -1) return;

                playersConnected.push(playerID);

                newPlayerHtml = '<tr data-playerid="' + playerID + '">\
                                    <td class="col-xs-4 text-center">%data-playername%</td>\
                                    <td class="col-xs-1 text-center"></td>\
                                </tr>';

                var newPlayer = $(newPlayerHtml.replace("%data-playername%", playerName));

                $("#playersTable").append(newPlayer);
            }

            lobby.client.removePlayer = function (playerID) {
                var wasLider = !!$("tr[data-playerid='" + playerID + "'] td:last-child>span").length;

                if (playerIndex != -1) {
                    $("tr[data-playerid='" + playerID + "']").remove();
                    playersConnected.splice(playerIndex, 1);

                    if (wasLider) {
                        $("tr:first-child td:last-child").append('<span class="glyphicon glyphicon-star pull-right"></span>');
                        var newLiderId = $("tbody>tr:first-child").data("playerid");
                        lobby.server.newLider(newLiderId);

                        if (newLiderId == '@Model.ActualPlayer.PlayerID') {
                            $("#btnStartGame").removeClass("disabled").removeAttr("disabled");
                        }
                    }
                }
            }

            $("#btnStartGame").click(function() {
                lobby.server.startGame();
            });

            lobby.client.startGame = function () {
                $(window).unbind("unload");
                window.location.href = "/game/start-game";
            }

            $(window).on('unload', function () {
                lobby.server.removePlayer();
            });
        });

    </script>
}
