@model Bleff.ViewModels.GameVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p class="lead">BLEFF - Sala @Model.ActualGame.Id</p>
</div>

<div class="col-xs-4">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col" class="col-xs-4 text-center">Jugadores</th>
                <th scope="col" class="col-xs-1 text-center"></th>
            </tr>
        </thead>
        <tbody id="playersTable">
            @foreach (var player in Model.ActualGame.Players)
            {
                <tr data-playerid="@player.PlayerID">
                    <td class="col-xs-4 text-center">
                        @player.Name

                    </td>
                    <td class="col-xs-1 text-center">
                        @if (player.GameLider)
                        {
                            <span class="glyphicon glyphicon-star pull-right"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{

    <script type="text/javascript">

        var playersConnected = [];
        @foreach (var player in Model.ActualGame.Players)
        {
            <text>playersConnected.push('@player.PlayerID');</text>
        }

        $(document).ready(function () {
            var lobby = $.connection.lobbyHub;

            $.connection.hub.start().done(function () {
                lobby.server.addPlayer('@Model.ActualPlayer.Name', '@Model.ActualPlayer.PlayerID', '@Model.ActualGame.Id');
            });

            lobby.client.addPlayer = function (playerID, playerName) {
                if (playerID == '@Model.ActualPlayer.PlayerID') return;
                if (playersConnected.indexOf(playerID) != -1) return;

                playersConnected.push(playerID);

                newPlayerHtml = '<tr data-playerid="' + playerID + '">\
                                    <td class="col-xs-4 text-center">%data-playername%</td>\
                                </tr>';

                var newPlayer = $(newPlayerHtml.replace("%data-playername%", playerName));

                $("#playersTable").append(newPlayer);
            }

            lobby.client.removePlayer = function (playerID) {
                var playerIndex = playersConnected.indexOf(playerID)
                if (playerIndex != -1) {
                    $("tr[data-playerid='" + playerID + "']").remove();
                    playersConnected.splice(playerIndex, 1);
                }
            }

            $(window).on('unload', function () {
                lobby.server.removePlayer();
            });
        });

    </script>
}